@model IEnumerable<Cay.Canh.Web.HDT.Data.Order>
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@{
    ViewData["Title"] = "Danh sách đơn hàng";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<h1 class="text-center text-primary my-4">Danh sách đơn hàng</h1>

<table class="table table-striped table-bordered">
    <thead class="table-dark">
        <tr>
            <th>
                Ngày đặt hàng
            </th>
            <th>
                Tổng tiền
            </th>
            <th>
                Trạng thái
            </th>
            <th>
                Địa chỉ giao hàng
            </th>
            <th>
                Người dùng
            </th>
            <th>Hành động</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.OrderDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TotalAmount)
                </td>
                <td>
                    @if (item.OrderStatus == "Pending")
                    {
                        <span class="badge bg-warning">Đang chờ</span>
                    }
                    else if (item.OrderStatus == "Completed")
                    {
                        <span class="badge bg-success">Hoàn thành</span>
                    }
                    else if (item.OrderStatus == "Cancelled")
                    {
                        <span class="badge bg-danger">Đã hủy</span>
                    }
                    else
                    {
                        @Html.DisplayFor(modelItem => item.OrderStatus)
                    }
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ShippingAddress)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.User.UserName)
                </td>
                <td>
                    <a class="btn btn-primary btn-sm" asp-action="EditOrder" asp-route-id="@item.OrderId">
                        <i class="fa fa-edit"></i> Sửa
                    </a>
                    <a class="btn btn-info btn-sm" asp-action="DetailOrder" asp-route-id="@item.OrderId">
                        <i class="fa fa-info-circle"></i> Chi Tiết
                    </a>
                    <a class="btn btn-danger btn-sm" asp-action="DeleteOrder" asp-route-id="@item.OrderId">
                        <i class="fa fa-trash"></i> Xóa
                    </a>
                </td>
            </tr>
        }
    </tbody>
</table>
