@model Cay.Canh.Web.HDT.ViewModel.ProductVMDT

@{
    ViewData["Title"] = "Chi tiết sản phẩm";
    Layout = "_Product";
}

<!-- Product Detail Start -->
<div class="product-detail">
    <div class="container-fluid">
        <div class="row">
                <div class="product-detail-top">
                    <div class="row align-items-center">
                        <div class="col-md-5">
                            <a class="product-img" href="@Url.Content("~/img/Products/" + Model.ImageUrl + ".png")" title="@Model.ProductName">
                                <img class="d-block w-100" src="@Url.Content("~/img/Products/" + Model.ImageUrl + ".png")" alt="1">
                            </a>
                        </div>
                        <div class="col-md-7">
                            <div class="product-content">
                                <h4 class="title">@Model.ProductName</h4>

                                <h6 class="price">Giá: @Model.Price.ToString("N0") VND</h6>

                                <div class="short_overview">
                                    <h6>@Model.ProductName: là loại cây được ưa chuộn tại thị trường Việt Nam và mang lại nhiều ý nghĩa trong phong thủy và tài lộc. </h6>
                                </div>
                                <div class="products--meta">
                                    <h6><span>Chiều Cao:</span> <span>@Model.Height.ToString().Split('.')[0] cm</span></h6>
                                    <h6><span>Kích thước:</span> <span> @Model.Size</span></h6>
                                    <h6><span>Tình trạng cây:</span> @(Model.State == "true" ? "Còn hàng" : "Hết hàng")</h6>
                                    @if (Model.State == "true")
                                    {
                                    <form asp-action="AddToCart" asp-controller="Carts" method="post">
                                        <input type="hidden" name="id" value="@Model.ProductId" />
                                        <div class="quantity">
                                            <h4>Số lượng:</h4>
                                            <div class="qty">
                                                <button type="button" class="btn-minus"><i class="fa fa-minus"></i></button>
                                                <input type="number" name="quantity" value="1" min="1" max="@Model.Quantity" />
                                                <button type="button" class="btn-plus"><i class="fa fa-plus"></i></button>
                                            </div>
                                        </div>
                                        <div class="action">
                                            <button type="submit" class="btn">
                                                <i class="fa fa-shopping-cart"></i> Thêm vào giỏ hàng
                                            </button>
                                        </div>
                                    </form>
                                    }
                                    else
                                    {
                                        <div class="action">
                                            <button class="btn btn-secondary" disabled>
                                                <i class="fa fa-ban"></i> Hết hàng
                                            </button>
                                        </div>
                                    }

                            </div>
                        </div>
                    </div>
                </div>

                <div class="row product-detail-bottom">
                    <div class="col-lg-12">
                        <ul class="nav nav-pills nav-justified">
                            <li class="nav-item">
                                <a class="nav-link active" data-toggle="pill" >Mô tả sản phẩm</a>
                            </li>
                        </ul>

                        <div class="tab-content">
                            <div id="description" class="container tab-pane active">
                                <h7>@Model.Description</h7>
                            </div>
                            
                        </div>
                    </div>
                </div>
        </div>
    </div>
</div>
<!-- Product Detail End -->

